<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "TITLE_SHOPPING_LIST" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>{{ "STORE" | translate }}</ion-label>
    <ion-select [(ngModel)]="store" (ionChange)="onChangeStore($event)">
        <ion-option *ngFor="let store of this.stores" [value]="store.id">{{store.name}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let listItem of modelService.getOrderedShoppingList(this.store)"
      (click)="presentPopover($event, listItem)">
      <ion-icon name="clipboard" item-start></ion-icon>
      <ion-label [style.text-decoration]="listItem.marked ? 'line-through' :
        ''">{{modelService.getProductName(listItem.product_id)}}</ion-label>
    </ion-item>
  </ion-list>

  <!-- <button ion-button secondary menuToggle>Toggle Menu</button> -->
  <ion-fab right bottom>
    <button ion-fab mini>
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab (click)="presentAddToListPageModal()">
        <ion-icon name="basket"></ion-icon>
        <ion-label>{{"NEW_ITEM" | translate}}</ion-label>
      </button>
      <button ion-fab (click)="navigateAddToDB()">
        <ion-icon name="filing"></ion-icon>
        <ion-label>{{"NEW_PRODUCT" | translate}}</ion-label>
      </button>
      <button ion-fab (click)="openSocial('vimeo', fab4)">
        <ion-icon name="cart"></ion-icon>
        <ion-label>{{"NEW_STORE" | translate}}</ion-label>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>